@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
}

body {
        font-family: 'Noto Sans', sans-serif;
}